*.pyc
__pycache__/
checkpoints/
*.pth
*.jpg
SUBMISSION*
venv/
weights
.ipynb_checkpoints/
.idea/
real.pt

# checkpoints
checkpoints/

# datasets
data/

# results
results

count_classes.py
save_depth_imgs.py
